body {
    font-family: sans-serif;
    background-color: bisque;
    color: rgb(163, 110, 40) ;
}
h1 {
    background-color: rgb(163, 110, 40) ;
    padding: 10px;
    color: rgb(221, 178, 140);
    text-align: center;
}

li img{
    border: 5px solid rgb(163, 110, 40) ;
    width: 500px;
}








body { font-family: sans-serif; } header img{ width: 100px; height: 70px; } header{ background-color:rgb(95, 7, 7); border-radius: 10px; } header p{ font-size: 23px; font-family: fantasy; padding: 10px; border-bottom: 4px double black; } nav{ font-size: 20px; text-align: center; } nav a{ color:black; font-family: inherit; } footer{ background-color: white; } footer p{ background-color: rgb(95, 7, 7); padding:9px; font-size:15px; font-family: monospace; }
